---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { projects } from '@/data/resume'
import { experiences } from '@/data/resume'
import ProfilePictures from '@/assets/profile_picture.jpg'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'

const { fullName, title, institute, description, interests } = profile
---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			description={description}
			// profilePicture={ProfilePictures}
		/>
	</section>

	<!-- Recent Work Experience -->
	<section class='py-12 border-t'>
		<Grid gridTitle='Recent Work Experience' gridItems={experiences.slice(0, 3)} />
		<div class="mt-8 flex justify-center">
			<a 
				href="/resume" 
				class="inline-block px-6 py-2 rounded-full bg-secondary text-white hover:bg-accent transition-colors duration-200 text-center"
			>
				More Experience
			</a>
		</div>
	</section>

	<!-- Recent Projects -->
	<section class='py-12 border-t'>
		<Grid gridTitle='Recent Projects' gridItems={projects.slice(0, 3)} />
		<div class="mt-8 flex justify-center">
			<a 
				href="/projects" 
				class="inline-block px-6 py-2 rounded-full bg-secondary text-white hover:bg-accent transition-colors duration-200 text-center"
			>
				More Projects
			</a>
		</div>
	</section>

	<!-- Interests -->
	{interests.length > 0 && (
		<section class='py-12 border-b'>
			<Grid gridTitle='Interests' gridItems={interests} />
		</section>
	)}
</Layout>
